<h1>
    {{title}}
</h1>

<div class="container">
    <div class="row">
        <div class="col-6">Sonoff 1</div>
        <div class="col-3">
            <div [(ngModel)]="model" ngbRadioGroup name="sonoff1">
                <label class="btn btn-primary">
                    <input type="radio" value="ON" id="btn-on"> On
                </label>
                <label class="btn btn-primary">
                    <input type="radio" value="OFF" id="btn-off"> Off
                </label>
            </div>
        </div>
    </div>
</div>
<hr>
