<h1>
    {{title}}
</h1>

<div class="container">
    <div class="row">
        <div class="col-3">Sonoff 1</div>
        <div class="col-3">
            <button type="button"
                    id="btn-on"
                    class="btn btn-primary"
                    (click)="clickOn()">
                On
            </button>
            <button type="button"
                    id="btn-off"
                    class="btn btn-primary"
                    (click)="clickOff()">
                Off
            </button>
        </div>
    </div>
    <div class="row">
        <pre>{{model}}</pre>
    </div>
</div>
